.App {
  max-width: 1200px;
  margin: 20px auto 0;
  display: flex;
}

.Avatar {
  position: relative;
  width: 270px;
  height: 270px;
  background-color: lightgray;
  display: block;
  border-radius: 20px;
}

.Avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Avatar canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.buttons {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.buttons *:not(:last-child) {
  margin-bottom: 10px;
}

.modal {
  position: fixed;
  display: block;
  max-width:90vw;
  top: 0%;
  left: 0%;
  right: 0;
  bottom: 0;
  background-color: #fffa;
  z-index:1;
  max-height: 100vh;
}

.modalContainer {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 320px;
  min-height: 200px;
  background-color: white;
  border: 1px solid gray;
}

.modalContainer > div {
  width: 50%;
}
.modalContainer img {
  object-fit: cover;
  align-self: center;
  height: 100%;
  width: 50%;
}
